GATEWAY_APP_NAME={{ cookiecutter.project_name }}
GATEWAY_DOMAIN={{ cookiecutter.domain }}
GATEWAY_AUTH_STRATEGY={{ cookiecutter.auth_strategy }}
GATEWAY_EVENT_BUS__PROVIDER={{ cookiecutter.event_bus }}
GATEWAY_OBSERVABILITY__PROVIDER={{ cookiecutter.observability }}
